@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* @font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'SBAggro';
    src: url('../font/SB_OTF_L.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SBAggro2';
    src: url('../font/SB_OTF_M.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{font-family: 'Pretendard-Regular'}

body h1,
body h2{font-family: 'SBAggro2'}